.modal {
    display: none;
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background: rgba(0, 0, 0, 0.5);
}

.modal .content {
    background: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.modal .content span {
    cursor: pointer;
    float: right;
}