.card {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.card img {
    border-radius: 50%;
}

.card h2 {
    margin: 10px 0 5px;
    padding: 15px 0 5px 0;
}

.card p {
    color: #777;
    margin: 0 0 15px;
}

#followBtn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#followBtn:hover {
    background-color: #0056b3;
}